body, html, #root {
    height: 100%;
    margin: 0;
  }
  
  .login-container {
    background-image: url('../assets/green_background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }